@import url('https://fonts.googleapis.com/css?family=Catamaran:100');

body {
	font-size: 100%;
	font-family: Helvetica Neue, Catamaran, sans-serif;
	font-weight: 100;
	padding-top: 3vw;

}


h1 {font-size: 1.2em;
	position: absolute;
	top: 30px;
}

h2 {font-size: 2em;
	position: absolute;
	top: 80px;
}
h3 {margin-top: 1em;
	margin-bottom: 1em;
	font-weight: 800;
}

ul {font-size: 2em;
	left: 150px;
	top: 75px;
	position: absolute;
}

li a {font-size: 0.8em;
	text-decoration: none;
	color:black;
}

p {
	width: 60vw;
	margin-left: 3em;
}

a:hover {
	color: grey;
	-webkit-transition: 0.5s;
	transition: 0.5s;

}

#nouvelles { position: absolute;
	top:220px;
	margin-left: 3em;
} 

#arrow {position: absolute;
		font-size: 3em;
		font-weight: 600;
		left: 0;
		top: 200px;
}


#cv {
	margin-bottom: 2em;
}

#copyright {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em;
	font-size: 0.8em;
}

.blue {color: blue;
	text-decoration: none;
}
